@font-face {
  font-family: Roboto;
  src: url(../src/Fonts/RobotoCondensed-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white;
  overflow-x: hidden; /* Prevent horizontal scrolling on the body */
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.App-header {
  margin-bottom: 40px;
}

.App-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.app {
  display: flex;
  min-height: 100vh;
}
